<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="TEDxLandmarkUniverity">
    <meta name="keywords" content="TEDxLandmarkUniverity">
    <meta name="author" content="TEDxLandmarkUniverity">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2"> --}}
    <style>
        #speakerName {
            color: red;
        }
        #speakerNameWhite { color: white; }

        html {
            scroll-behavior: smooth;
        }

        @media screen and (prefers-reduced-motion: reduce) {
            html {
                scroll-behavior: auto;
            }
        }
    </style>
    <script type="text/javascript">

        function validate() {
            var eid = document.getElementById("emailField");

            if (eid.checkValidity()) {
                alert("Congratulations! You are now Subscribed to our newsletter!");
            } else {
                alert("Invalid Email!");
            }
        };
    </script>

    <!-- ========== Title ========== -->
    <title> TEDxLandmarkUniversity</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <style>
        p {
            text-align: justify;
        }
    </style>

</head>

<body>
    {{{body}}}
    <!-- jquery -->
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    {{!-- sweetalert --}}
    <script src="assets/js/alert.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <!--slick carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!--parallax -->
    <script src="assets/js/parallax.min.js"></script>
    <!--Counter up -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!--Counter down -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- WOW JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="assets/js/main.js"></script>
</body>

</html>