<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider owl-carousel owl-theme">
        <div class="cover_item" style="background: url('assets/img/bg/002.jpg');">
            <br>
            <br>
            <h1 class="mb30 text-center">
                <font color="white" style="font-size: 100px;"> WELCOME <font color="red">TO</font><br>
                    <font color="red">TEDx</font>LandmarkUniversity
                </font>
            </h1>
            <br>
            <br>
            <br>
            <center><a href="/navigate-the-future"><button type="button" class="btn btn-primary btn-rounded"
                    style="font-size : 15px; height: 70px;">
                    Theme: Navigate the Future</button>
                </a>
            </center>
        </div>
    </div>
</section>
<!--cover section slider end -->