<!--speaker section-->
<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                MEET THE ORGANIZERS
            </h3>
        </div>
    </div>
    <div class="row justify-content-center no-gutters">
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/team/tobi.jpg" alt="Courage Egbude">
                    <div class="info_box">
                        <h5 class="name">Courage Egbude
                            <a href="https://www.instagram.com/uglytobi" target="_blank"><i class="ion-social-instagram"></i></a>
                            <a href="https://www.twitter.com/_tvbi" target="_blank"><i class="ion-social-twitter"></i></a>
                        </h5>
                        <p class="position">Organizer</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/team/ore.png" alt="Ore">
                    <div class="info_box">
                        <h5 class="name">Oreoluwa
                            <a href="https://www.instagram.com/ogbontarigi" target="_blank"><i class="ion-social-instagram"></i></a>
                            <a href="https://www.twitter.com/thecraftman_" target="_blank"><i class="ion-social-twitter"></i></a>
                        </h5>
                        <p class="position">Co-Organizer</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--speaker section end -->