<!--get tickets section -->
<section class="bg-img pt100 pb100" style="background-image: url('assets/img/bg/tickets.png');">
    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
                Get your tickets
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-md-left text-center color-light">
                Tickets go on sale on 2nd Mar at 10 am. Stay Tuned!
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a href="/tickets" class="btn btn-primary btn-rounded mt30">Buy Tickets</a>
            </div>
        </div>
    </div>
</section>
<!--get tickets section end-->