{{> home/header}}
<section class="pb100" style="background: url('assets/img/a3.jpg');">
    <br /><br /><br /><br /><br />
    <h1 id="speakerName" align="center">GET YOUR MERCH</h1>
    <br /><br /><br><br><br>

    <div class="row justify-content-center no-gutters">
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img alt="Harsh Kansara" src="assets/img/store/TEDx Shirt Black Back.png" />
                    <div class="info_box">
                        <h5 class="name">
                            Are you exicTEDx
                        </h5>

                        <p class="position">1500</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img alt="Harsh Kansara" src="assets/img/store/TEDx Shirt Black Front.png" />
                    <div class="info_box">
                        <h5 class="name">
                            Tedx Landmark University
                        </h5>

                        <p class="position">1500</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> home/footer}}