<!--get about the event section -->
<section class="bg-img pt100 pb100" style="background-image: url('assets/img/a3.jpg');">

    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
                What is Navigate the Future?
            </h3>
        </div>
        <div class="row justify-content">
            <div class="col-md-11 text-md-left text-center color-light">
                <p>
                    <font size=5 color="white">
                        We are excited as TEDx Landmark University is working hard to organize its first ever TEDx event
                        at Landmark University! This is our call to those potential public speakers who want to make a
                        difference! <br><br>
                        This year’s theme is “Navigate the Future,” which is a very open-ended topic. We redesign something to
                        improve it. It can be anything -- a tool, your habits, your mindset, your communication skills,
                        etc.<br>
                        <br>
                        Here are some prompts to help you expand on the theme:<br><br>
                        Redesign something: Have you redesigned a technology that has made work easier? <br><br>
                        Redesign yourself: Have you made a lifestyle change that has impacted you? <br><br>
                        Redesign the environment: Have you quit a job to start your own business? <br><br>
                        Redesign a concept: Have you shifted somebody’s perspective on a sensitive topic by convincing
                        them of your own argument? <br><br>
                        <br>
                        Again, these are just some examples, and what you have redesigned and how you’ve done it is
                        subjective to you.
                        <br>
                        <br>
                        This opportunity is for you to grab if:
                        you’re a potential public speaker
                        you have an idea that is worth listening to
                        you have done something notable
                        you want to bring a change by sharing your experience

                        So, contact us and send your ideas before it’s too late!</font>
                </p>
            </div>
        </div>
    </div>
</section>
<!--get about the event section end-->