<section>
    <div style="background: url('assets/img/a3.jpg');"><br>
        <br>
        <br>
        <br>
        <img src="assets/img/bg/tedx_flyer.png" width="2000" height="550">
    </div>
</section>