<!--speaker section starts here -->
<section>
    <div style="background: url('assets/img/a3.jpg');">
        <br><br><br><br><br>
        <h1 id="speakerName" align="center">SCHEDULE 2020</h1>
        <br><br>
        <h3 id="speakerName">
            <center>
                <strong>Registeration 9:00 AM</strong>
            </center>
        </h3>
        <br><br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Opening Prayer</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>10:00 AM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Introduction of event, speakers, special guests and sponsors</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>10:10 AM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>First Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>10:30 AM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Second Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>10:45 AM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Idea Pitch</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>11:00 AM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Third Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>11:15 AM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Fourth Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>10:30 AM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <br><br>
        {{!--
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/team/tobi.jpg" alt="Ibidunni Oladayo image">
                            <div class="info_box">
                                <h5 class="name">Tobi</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h4 id="speakerNameWhite">
                                <strong>Introduction of event, speakers, special guests and sponsors</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h3 id="speakerName">
                                <strong>10:10 AM</strong>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/IbidunniOladayo.jpg" alt="Ibidunni Oladayo image">
                            <div class="info_box">
                                <h5 class="name">Ibidunni Oladayo</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h4 id="speakerNameWhite">
                                <strong>First Speaker</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h3 id="speakerName">
                                <strong>10:30 AM</strong>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/IbidunniOladayo.jpg" alt="Ibidunni Oladayo image">
                            <div class="info_box">
                                <h5 class="name">Ibidunni Oladayo</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h4 id="speakerNameWhite">
                                <strong>Second Speaker</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h3 id="speakerName">
                                <strong>10:45 AM</strong>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/IbidunniOladayo.jpg" alt="Ibidunni Oladayo image">
                            <div class="info_box">
                                <h5 class="name">Ibidunni Oladayo</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h4 id="speakerNameWhite">
                                <strong>First Speaker</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h3 id="speakerName">
                                <strong>10:30 AM</strong>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br> --}}


        <h3 id="speakerName">
            <center>
                <strong>TED Video 11:45 AM</strong>
            </center>
        </h3>

        <br>
        <br>
        <h3 id="speakerNameWhite">
            <center>
                <strong>BREAK</strong>
            </center>
        </h3>

        <br>
        <br>
        <h3 id="speakerName">
            <center>
                <strong>TED Video 1:00 PM</strong>
            </center>
        </h3>

        <br>
        <br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Fifth Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>1:15 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Sixth Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>1:30 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Idea Pitch</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>1:45 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Seventh Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>2:00 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Eight Speaker</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>2:15 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Performance</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>2:30 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Q&A</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>3:00 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Meet & Greet</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>3:30 PM</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content">
                <div class="col-8">
                    <h3 id="speakerNameWhite">
                        <strong>Sharing Of Whatever / Vote of Thanks / Closing Prayer</strong>
                    </h3>
                </div>
                <div class="col-4">
                    <h3 id="speakerName">
                        <strong>4:00 PM</strong>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</section>