<section>
    <div style="background: url('assets/img/a3.jpg');">
        <br><br><br><br><br>
        <h1 id="speakerName" align="center">SPEAKERS 2020</h1>
        <br><br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/RajivSharma.jpeg" alt="RajivSharma image">
                            <div class="info_box">
                                <h5 class="name">Rajiv Sharma</h5>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h2 id="speakerName">
                                <strong>Rajiv Sharma</strong>
                            </h2>
                            <p>
                                <font size=3 color="white">His goal is to
                                    help you achieve your personal,
                                    professional, and financial
                                    goals faster and easier than you
                                    ever imagined. Rajiv has
                                    contributed over two decades at
                                    Management & Leadership level for diverse
                                    business houses. He specializes in Employee
                                    Engagement, Business Development, Strategy
                                    Execution, Operations Excellence, Gap Analysis
                                    and Change Management. He is a Licensed
                                    Neuro Linguistic Programming™ Trainer
                                    certified by Dr. Richard Bandler, co-creator of
                                    NLP. Rajiv’s seminars and sessions impact the
                                    subconscious mind of the learner and generate
                                    speedy results with enduring impact.
                                </font>
                            </p>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--BREAK LINE FOR NEXT SPEAKER-->
    <div style="background: url('assets/img/a3.jpg');">
        <br><br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/OdionyeConfidence.jpg" alt="Odionye Confidence image">
                            <div class="info_box">
                                <h5 class="name">Odionye Confidence</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h2 id="speakerName">
                                <strong>Odionye Confidence</strong>
                            </h2>
                            <p>
                                <font size=3 color="white">
                                    Odionye Confidence
                                    is the
                                    President Beat Drone
                                    Confidence studied Civil
                                    Engineering at the Yaba
                                    College of Technology, he
                                    started his first venture
                                    (Download Village) at the
                                    age of 15; which he co-founded with his elder
                                    brother, download village was created due to the
                                    ever growing demand for music, video and game
                                    applications on feature phone, way back internet
                                    subscription was expensive for the average
                                    income earner to have; Confidence and his elder
                                    brother used their lunch funds in subscribing to
                                    the internet and downloading those contents
                                    (Music, Videos, Games etc) for their customers
                                    whom have pre-ordered, the introduction of lesser
                                    internet subscription made the demand for their
                                    service low.
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--BREAK LINE FOR NEXT SPEAKER-->

    <!--BREAK LINE FOR NEXT SPEAKER-->
    <div style="background: url('assets/img/a3.jpg');">
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/BellIhua.jpeg" alt="Dr Bell Ihua image">
                            <div class="info_box">
                                <h5 class="name">Dr. Bell Ihua</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h2 id="speakerName">
                                <strong>Dr. Bell Ihua</strong>
                            </h2>
                            <p>
                                <font size=3 color="white">
                                    Dr. Bell Ihua
                                    is Executive Director at
                                    Africa Polling Institute
                                    (API), Principal Consultant at
                                    DBI Analytics Consulting
                                    and Director at SMYLE
                                    Africa Group, a bourgeoning
                                    Pan-African conglomerate, providing thought
                                    leadership and promoting investment in subSaharan Africa. He was until recently the
                                    Chief
                                    Executive Officer at NOIPolls Limited. He is an
                                    experienced Pollster, Social Researcher,
                                    Management Consultant, Lecturer and Adjunct
                                    Professor. He holds a PhD in Business
                                    Administration & Management from Kent Business
                                    School, University of Kent, United Kingdom.
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--BREAK LINE FOR NEXT SPEAKER-->

    <!--BREAK LINE FOR NEXT SPEAKER-->
    <div style="background: url('assets/img/a3.jpg');">
        <br><br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/KemisolaOloriegbe.jpeg" alt="Kemisola Oloriegbe image">
                            <div class="info_box">
                                <h5 class="name">Kemisola Oloriegbe</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h2 id="speakerName">
                                <strong>Kemisola Oloriegbe</strong>
                            </h2>
                            <p>
                                <font size=3 color="white">
                                    Kemisola Oloriegbe (MNSE,
                                    R.Eng, PMP, CSSBB: is a
                                    highly competent supply chain
                                    professional with over ten
                                    years’ experience in the
                                    manufacturing and production.
                                    She is an Engineer by
                                    education and a Project Manager and Packaging
                                    Technologist by profession. She possess a
                                    complete blend of technical and business
                                    expertise with a Masters in Industrial
                                    Engineering and also an MBA in Business
                                    Management. She has managed different
                                    projects and operations which has strengthen her
                                    expertise in supply chain, packaging design and
                                    development, project management, quality and
                                    maintenance management. Among notable
                                    projects was the installation and commissioning
                                    of a 36,000 b/h PET Line which was the first line
                                    in Nigeria to introduce malt beverages into PET
                                    bottles. She is a Lean six sigma and continuous
                                    improvement leader and have led different
                                    projects with huge cost savings.
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BREAK LINE FOR NEXT SPEAKER-->

    <!--BREAK LINE FOR NEXT SPEAKER-->
    <div style="background: url('assets/img/a3.jpg');">
        <br><br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/kene.jpg" alt="Kene Okafor image">
                            <div class="info_box">
                                <h5 class="name">Kene Okafor</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h2 id="speakerName">
                                <strong>Kene Okafor</strong>
                            </h2>
                            <p>
                                <font size=3 color="white">
                                    kene okafor is a serial entrepreneur who solves problems to better the society and
                                    he is the current ceo of ezra foot wears, splash table water and carobon logistics.
                                    In the year 2017 he won the price of the best idea at the global entrepreneur award
                                    in germany with his startup ezra foot wears which provide shoes at an affordable
                                    cost to africans
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <!--BREAK LINE FOR NEXT SPEAKER-->

    <!--BREAK LINE FOR NEXT SPEAKER-->
    <div style="background: url('assets/img/a3.jpg');">
        <br><br>
        <div class="container">
            <div class="row justify-content">
                <div class="col-4">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="assets/img/TEDxSpeakers/IbidunniOladayo.jpg" alt="Ibidunni Oladayo image">
                            <div class="info_box">
                                <h5 class="name">Ibidunni Oladayo</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="speaker_box">
                        <div class="speaker_social">
                            <h2 id="speakerName">
                                <strong>Ibidunni Oladayo</strong>
                            </h2>
                            <p>
                                <font size=3 color="white">
                                    Ibidunni Oladayo is
                                    the a graduate from
                                    Landmark University
                                    and also the
                                    founder, Film Director
                                    and Cinematographer at
                                    IO Filmworks with a
                                    distinctly critical
                                    approach to storytelling,
                                    daring to carve a niche in
                                    the field of Television
                                    Commercials and Documentary filmmaking. Dayo is
                                    driven by a passion to revolutionize Africa’s
                                    filmmaking Industry by telling hidden stories with the
                                    best breathtaking visuals. People may forget a headline,
                                    they never forget a story! With an impressive body of
                                    work in his portfolio and a blazing three years'
                                    experience on the field, Dayo has worked on projects
                                    associated with brands such as FACEBOOK, BOLT,
                                    STERLING BANK, GOOGLE, DANGOTE,
                                    HONEYWELL, ZARON COSMETICS, ART X
                                    LAGOS, MAGGI; just to name a few.
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <!--BREAK LINE FOR NEXT SPEAKER-->

</section>