<section>

    <div style="background: url('assets/img/a3.jpg');">
        <br><br><br><br><br><br><br>
        <h1 id="speakerName" align="center" style="font-size: 90px;">GET YOUR TICKETS</h1>
        <br><br>


        <center><a href="#ticket"><button type="button" class=" btn btn-primary btn-rounded"
                    style="font-size : 15px; width: 15%; height: 70px;">Book
                    Tickets</button></a></center>
        <br><br><br><br>
    </div>
</section>